.important {
		font-size: 1.5em;
		font-weight: bolder;
		;
}


table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

table {
    width: 70%;
}

th {
    height: 30px;
}

body {
	background-color: #003366;
	color: #ffffff;
}


