* {
	box-sizing: boarder-box;
}

html,
body {
	width: 100%;
	height: 100%;		
	margin: 0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, 
p, ul, ol, li {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.floatleft {
	float: left;
}

/* Header */ 

#header {
	height: 40px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

	background-color: #2e2f30;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width:90%;
	height:100%;
}

.logo {
	float: left;
}

.logo-image {
	height: 30px;
	width: auto;
	padding-top: 5px;
}

.nav-list {
	float: right;
}

.nav-list li {
	float: left;
	list-style-type: none;
}

.nav-list a {
	display: inline-block;
	padding: 12px;
	color: white;
	text-decoration: none;
}

.nav-list a:hover {
	color:#25af5f;
}

/* Background */

.home_bg {
	width: 100%;
	height: 100%;
	background-image: url("images/bg_08.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container_table {
	padding-top: 20%;
}

.container_table_cell {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.container_table_cell h2 {
	text-align: center;
	font-size: 35pt;
	color: #fff;
}

.social_icons {
	font-size:1.5em;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 5px;
	text-align: center;
	
}

.social_icons i {
	padding-left:5px;
	padding-right:5px;
}

.social_icons a:link {
	color: #fff;
}

.social_icons a:visited {
	color: #fff;
}

.social_icons a:hover {
  color: #25af5f;
}

 /*About Me */
.summary {
	width: 100%;
	height: 65%;
}

.about_me {
	width:100%;
	height:65%;
}

.container h2 {
	font-size:35pt;
	font-family: montserrat;
	text-transform: uppercase;
	
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}


.col-left {
	float: left;
	width: 45%;
}

.col-right {
	float: right;
	width: 45%;

}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

.personal-info {
	text-align: left;
}

.personal-info h3 {
	font-size: 15pt;
	padding-bottom: 10px;

}

.personal-info p {
	font-size: 12pt;
	text-align: justify;
	padding-bottom: 20px;
}

.skill {
	width:100%;
	font-size: 15pt;
}

.skill ul {
	list-style-type: none;
	padding-bottom:20px;
}

.skill li {
	padding-bottom: 10px;
}

.button-group {
	width: 100%;
}

.button {
  border: 1px solid #25af5f;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #25af5f;
  font-family: montserrat;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
	border: none;
	background-color: #25af5f;
	color: #fff;
}

/*.download_cv {
	display: inline-block;
	width:120px;
	border: 1px solid #25af5f;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
}

.hire_me {
	display: block;
	width:120px;
	border: 1px solid #25af5f;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
}
*/

/* My Service */
.my_service {
	width:100%;
	height:55%;
	background-color: #e5e5e5;
}

.service_items {
	padding-top:10px;
	float:left;	
}

.service-content {
	float: left;
	width: 25%;
	margin-left: calc(25%/6);
	margin-right: calc(25%/6);
}

.service-content h3 {
	font-size:15pt;
	color:#000;
	padding-bottom: 10px;
}

.service-content p {
	font-size:12pt;
	color:#000;
}

.service-content i {
	font-size:3em;
	color:#000;
	padding-bottom: 30px;
}


/* Basic elements 