* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;		
	margin: 0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, 
p, ul, ol, li {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.floatleft {
	float: left;
}

/* Header */ 

#header {
	height: 40px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

	background-color: #2e2f30;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width:90%;
	height:100%;
}

.logo {
	float: left;
}

.logo-image {
	height: 30px;
	width: auto;
	padding-top: 5px;
}

.nav-list {
	float: right;
}

.nav-list li {
	float: left;
	list-style-type: none;
}

.nav-list a {
	display: inline-block;
	padding: 12px;
	color: white;
	text-decoration: none;
}

.nav-list a:hover {
	color:#25af5f;
}

/* Background */

.home_bg {
	width: 100%;
	height: 100%;
	background-image: url("images/bg_08.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container_table {
	padding-top: 20%;
}

.container_table_cell {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.container_table_cell h2 {
	text-align: center;
	font-size: 35pt;
	color: #fff;
}

.social_icons {
	font-size:1.5em;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 5px;
	text-align: center;
	
}

.social_icons i {
	padding-left:5px;
	padding-right:5px;
}

.social_icons a:link {
	color: #fff;
}

.social_icons a:visited {
	color: #fff;
}

.social_icons a:hover {
  color: #25af5f;
}

 /* About Me */
.summary {
	width: 100%;
	height: 35vh;
}

.about_me {
	width:100vw;
	height:80vh;
}

.container h2 {
	font-size:35pt;
	font-family: montserrat;
	text-transform: uppercase;
	
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}


.col-left {
	float: left;
	width: 45vw;
}

.col-right {
	float: right;
	width: 45vw;

}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.personal-info {
	text-align: left;
}

.personal-info h3 {
	font-size: 15pt;
	padding-bottom: 10px;

}

.personal-info p {
	font-size: 12pt;
	text-align: justify;
	padding-bottom: 20px;
}

.skill {
	width:100%;
	font-size: 15pt;
}

.skill ul {
	list-style-type: none;
	padding-bottom:20px;
}

.skill li {
	padding-bottom: 10px;
}

.button-group {
	width: 100%;
}

.button {
  border: 1px solid #25af5f;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #25af5f;
  font-family: montserrat;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
	border: none;
	background-color: #25af5f;
	color: #fff;
}

/*.download_cv {
	display: inline-block;
	width:120px;
	border: 1px solid #25af5f;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
}

.hire_me {
	display: block;
	width:120px;
	border: 1px solid #25af5f;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
}
*/

/* My Service */
.my_service {
	width:100%;
	height:75vh;
	background-color: #e5e5e5;
}

.service_items {
	padding-top:10px;
	float:left;	
}

.service-content {
	float: left;
	width: 25%;
	margin-left: calc(25%/6);
	margin-right: calc(25%/6);
}

.service-content h3 {
	font-size:15pt;
	color:#000;
	padding-bottom: 10px;
}

.service-content p {
	font-size:12pt;
	color:#000;
}

.service-content i {
	font-size:3em;
	color:#000;
	padding-bottom: 30px;
}

/* Resume */
.resume {
	width:100%;
	height:100%;
}

.col-horizontal {
	width: 100%;
	height: 30%;
	outline: 1px solid #25af5f;
	outline-offset: -1px;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
}

.col-item {
	width: 48%;
	float: left;
	margin-left: calc(4%/4);
	margin-right: calc(4%/4);
}

.resume-subtitle {
	font-family: Montserrat-Medium;
	font-size:14pt;
	padding: 10px 10px 10px 10px;
}

.experience-year {
	width:25%;
	color: #fff;
	background-color: #000;
	font-size: 12pt;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.resume-detail {
	font-family: Montserrat;
}

.resume-detail h4 {
	font-size: 12pt;
	padding-bottom: 5px;
}

.resume-detail h6 {
	font-size: 8pt;
	padding-bottom: 10px;
}

.resume-detail p {
	font-size: 11pt;
}

/* Quotes */
.quotes {
	width : 100%;
	height: 45vh;
	background-color: rgba(0,0,0,0.4)
	
}

.overlay {
	width: 100%;
	height: 100%;
	background-image: url(images/road.jpg) ;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.quote-inner {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 50%;
	text-align: center;
	padding-top: 9.0%;
}

.quote-inner h3 {
	font-family: montserrat;
	font-size: 25pt;
	color: #fff;
	padding-bottom: 10px;
}

.quote-inner p {
	font-family: montserrat;
	font-size: 13pt;
	color: #fff;
	padding-bottom: 40px;
}

.quote-inner a {
	font-family: montserrat;
	font-size: 12pt;
	color: #fff;
	padding: 12px 45px 12px 45px;
	text-transform: uppercase;
	border: 1px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	margin-top:15px;
}

/* Latest Works */
.works {
	width: 100%;
	height: 80vh;
	display: block;
}

.work-items {
	width: 95%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
}

.col-work {
	float: left;
	width: 25%;
	margin-left: calc(25%/6);
	margin-right: calc(25%/6);
}

/* GET IN TOUCH */
.contact {
	width: 100%;
	height: 80vh;
	display: block;
}

.contact-form {
	width: 70%;
	height: 55vh;
	margin-left: auto;
	margin-right: auto;
}

.form-input {
	width: 50%;
	float: left;
}

/* Footer */
#footer {
	background-color: #000;
	width:100%;
	height:25vh;
}

.footer-content {
	text-align: center;
	color: #fff;
	padding-top: 5.5%;
}





/* Basic elements 