.container {
  background-color: #b0eece;
}

/* Clearfix */
.container:after {
  display: block;
  content: '';
  clear: both;
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #0000ff;
}

.floatright {
	float: right;
}

.hidden {
	visibility: hidden;
}

.clearleft {
	clear: left;
}

.marginleft {
	margin-left:102px;
}