.container:after {
  display: block;
  content: '';
  clear: both;
}

.text {
	position: relative;
  width: 50px;
  height: 20px;
  float: right;
  font-family: Arial;
}

.maindiv {
  width: 100vw;
  height: 100vh;
}

.innerdiv {
  width: 100vw;
  height: 33vh;
}

.center {
	margin-left: auto;
	margin-right: auto;
  width: 40%;
}

.paddingtop {
  padding-top:15px;
}

.marginright {
  margin-right:100px;
}

.boxshadow {
  box-shadow: 5px 10px;
}